:root{
    --blanco:#ffffff;
    --letra: "Montserrat", sans-serif;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

body {
    font-family: var(--letra);
}
  
h1{
    font-size: 45px;
    font-weight: 600;
    line-height: 60px;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    background: url(../img/fondos/bg.jpg);
}

img{
    max-width: 100%;
}

li{
    list-style: none;
}


.main{
    width: 100%;
    overflow-x: hidden;
}


/*------------------------------------------*/

.banner-navidad{
    background: url(../img/fondos/sec5_bg.jpg);
    width: 100%;
    padding: 0px 20px;
    margin-bottom: 200px;
    overflow-x: hidden;
}
.destacado{
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 200px;

    & .galletas-fondo{
        z-index: 1;
        position: absolute;
        top: 0;
        right: 0;
        width: 80%;
        height: 120%;
        background-image: url(../img/fondos/sec5_bg.jpg);
    }

    & .galletas-main{
        padding-top: 100px;
        position: relative;
        z-index: 3;
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
        color: #000;

        & .galleta-content-img{
            grid-column: 1/2;
            grid-row: 1/3;
            position: relative;

            

            & .galleta-img{
                width: 100%;
            }
            & .galleta-img-principal{
                width: 110%;
                height: 450px;
                object-fit: cover;
                margin-left: -60px;
            }
            & .galleta-btn{
                color: #E6E3DC;
                position: absolute;
                bottom: -50PX;
                right: -40PX;
                width: 180px;
                height: 180px;
                border-radius: 50%;
                background-image: url(../img/fondos/sec2_btn.webp);
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                & a{
                    color: var(--blanco);
                    position: absolute;
                    z-index: 8;
                    & P{
                        font-size: 11px;
                        text-align: center;
                    }
                }
                & img{
                    position: absolute;
                    z-index: 3;
                    width: 120px;
                    margin-top: 100px;
                }
            }

        }
        
        & .galleta-content-titulo{
            position: relative;
            grid-column: 2/3;
            grid-row: 1/2;
            display: flex;
            align-items: center;
            justify-content: center;

            & h2{
                text-align: center;
                font-size: 40px;
            }
        }
        
        & .galleta-content-info{
            position: relative;
            grid-column: 2/3;
            grid-row: 2/3;
            display: flex;
            justify-content: center;

            & p{
                width: 85%;
                font-size: 16px;
                line-height: 1.8;
            }
            
        }
        
    }

    
    
    
}
.elegirnos{
    color: white;
    padding: 100px 0;
    width: 100%;
    margin-bottom: 50px;
    background: url(../img/fondos/bg_brown.jpg);

    & h2{
        text-align: center;
    }
    & .elegirnos-content{
        margin: 0 auto;
        margin-top: 100px;
        width: 80%;
        display: flex;
        justify-content: space-around;
        gap: 20px;
       
        & .opcion-elegir{
            width: 40%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;

            & img{
                width: 80px;
            }
            & p{
                font-size: 14px;
                text-align: center;
                line-height: 1.7;
            }
        }
    }
}
.hero{
    position: relative;
    z-index: 3;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(5,7,12,0.4), rgba(5,7,12,0.4)) ,url(../img/fondos/bg-hero.jpg) no-repeat center;
    background-size: cover;
    object-fit: cover;
    display: flex;
    justify-content: start;
    align-items: end;
    color: var(--blanco);

    & .content-hero{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-left: 50px;
        padding-bottom: 50px;

        & h1{
            font-size: 54px;
            max-width: 750px;
        }
        & img{
            height: 20px;
            width: auto;
        }
        & a{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 200px;
            color: var(--blanco);
            border: 1px solid var(--blanco);
            padding: 20px 40px;
        }
    }
}
.instagram{
    overflow-x: hidden;
    width: 100%;
    position: relative;
    margin-bottom: 200px;

    & .fondo-insta{
        position: absolute;
        top: 0;
        left: 0;
        width: 60%;
        height: 90%;
        background: url(../img/fondos/sec5_bg.jpg);
    }
    
    & .insta-content{
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 400px 400px;

        & img{
            width: 250px;
            height: 300px;
            object-fit: cover;
        }

        
        & .content-insta-info{
            grid-column: 1/2;
            grid-row: 1/2;
            padding-top: 100px;
            position: relative;
            z-index: 2;

            & h2{
                color: #000;
                font-size: 45px;
                margin-bottom: 30px;
                & p{
                    margin-top: 5px;
                    font-size: 11px;
                    font-family: "Julius Sans One", sans-serif;
                }
            }
            & p{
                color: #000;
                line-height: 1.8;
                font-family: "Montserrat", sans-serif;
            }
            
        }
        & .sec1-insta{
            position: relative;
            grid-column: 2/3;
            grid-row: 1/2;
            padding-top: 80px;
            
            & .in{
                position: absolute;
                top: 60px;
                left: 60px;
                transform: rotate(10deg);
                z-index: 3;
            }
        }
        & .sec2-insta{
            position: relative;
            grid-column: 1/2;
            grid-row: 2/3;
            display: flex;
            & .in1{
                position: absolute;
                top: 50px;
                left: -30px;
                transform: rotate(-15deg);
                z-index: 3;
            }
            & .in2{
                position: absolute;
                top: -10px;
                right:15px;
                transform: rotate(15deg);
                z-index: 2;
            }
        }
        & .sec3-insta{
            position: relative;
            grid-column: 2/3;
            grid-row: 2/3;
            display: flex;

            & .in3{
                position: absolute;
                top: 60px;
                left: 70px;
                transform: rotate(-15deg);
                z-index: 3;
            }
            & .in4{
                position: absolute;
                top: -80px;
                right:-60px;
                transform: rotate(0deg);
                z-index: 2;
            }
        }
    }

    & .btn-insta{
        margin-top: 100px;
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: end;

        & a{
            display: block;
            width: 300px;
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            background: url(../img/fondos/bg_brown.jpg);
            color: white;
            border-radius: 15px;

            & img{
                width: 30px;
            }
        }
    }
}
.nav{
    position: absolute;
    z-index: 5;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;

    & .hamburger{
        display: none;
    }

    & .logo{
        height: 70px;
        width: auto;
    }

    & ul{
        display: flex;
        align-items: center;
        gap: 2rem;
        list-style: none;

        & a{
            color: var(--blanco);
        }
        & img{
            display: none;
        }
    }
}
.navidad{
    position: relative;
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgba(36, 39, 46, 0.2), rgba(54, 57, 65, 0.2)) , url(../img/fondos/bg-navidad.webp) no-repeat center;
    background-size: cover;
    object-fit: cover;
    color: var(--blanco);
    text-align: center  ;

    & .content-navidad{
        width: 100%;
        height: 100%;    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        & a{
            color: #000;
            display: block;
            width: fit-content;
            padding: 10px 20px;
            background-color: var(--blanco);
            margin: 0 auto;
        }
        & h2{
            font-size: 30px;
        }
        & p{
            font-size: 20px;
        }
    }
}
.nosotros{
    color: #000;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: auto auto;
    margin: 100px auto;

    & .nostros-content-titulo{
        position: relative;
        grid-column: 1/2;
        grid-row: 1/3;
        display: flex;
        flex-direction: column;
        gap: 150px;
    
        & h2{
            margin-right: -100px;
            font-size: 50px;
            text-align: end;
        }
    
        & img{
            width: 420px;
            height: 420px;
            border-radius: 50%;
            object-fit: cover;
            margin-left: -30px;
        }
    }
    
    & .nosotros-content-info{
        position: relative;
        grid-column: 2/3;
        grid-row: 1/2;
        display: flex;
        align-items: end;
    
        & p{
            max-width: 570px;
            font-size: 18px;
            margin-top: 100px;
            line-height: 40px;
        }
    }
    
    
    & .nosotros-content-img{
        grid-column: 2/3;
        grid-row: 2/3;
        display: flex;
        justify-content: space-between;
        margin-top: 100px;
    
        & img{
            width: 270px;
            height: 270px;
            object-fit: cover;
        }
        & .primera-img{
            margin-left: -30px;
        }
        & .segunda-img{
            margin-top: -50px;
        }
        
    }
    
}
.postres{
    width: 100%;
    height: auto;
    background: linear-gradient(rgba(5,7,12,0.4), rgba(5,7,12,0.4)) ,url(../img/fondos/bg-postres.webp) no-repeat center;
    background-size: cover;
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
    color: var(--blanco);

    & h2{
        font-size: 40px;
        text-align: center;
    } 
    & .producto-content{
        margin: 0 auto;
        max-width: 1000px;
        width: 100%;

        & .producto-content-lista{
            width: 100%;
            display: grid;
            grid-template-columns: 65% 5% 30%;
            grid-template-rows: auto auto;
            margin-bottom: 50px;

            & .producto-principal{
                grid-column: 1/2;
                grid-row: 1/3;
                width: 100%;
                height: 100%;
                position: relative;

                & .producto-principal img{
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
                & .producto-principal-info{
                    position:absolute;
                    bottom: 20px;
                    left: 10%;
                    width: 80%;
                    height: 150px;
                    background-color: #E6E3DC;
                    color: #000;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    & p{
                        width: 85%;
                        font-size: 14px;
                        line-height: 1.8;
                    }
                }
            }
            & .linea-divisor{
                grid-column: 2/3;
                grid-row: 1/3;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;

                & .divisor{
                    width: 1px;
                    height: 100%;
                    background-color: #E6E3DC;
                }
            }

            & .producto-segundo{
                grid-column: 3/4;
                grid-row: 1/2;
                width: 100%;
                height: 100%;
            }
            & .producto-tercero{
                grid-column: 3/4;
                grid-row: 2/3;
                width: 100%;
                height: 100%;
            }
            & .productos-sec{
                display: flex;
                flex-direction: column;
                gap: 15px;

                & img{
                    width: 100%;
                    height: 220px;
                    object-fit: cover;
                }
            }
            & .producto-tercero img{
                margin-top: 20px;
            }
            
        }
        & .btn-producto{
            width: 100%;
            display: flex;
            justify-content: center;

            & a{
                width: 300px;
                height: 70px;
                border: 1px solid #E6E3DC;
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--blanco);
            }
        }

    }
}

/*---------------------------------------------*/

.footer{
    width: 100%;
    background: url(../img/fondos/bg_brown.jpg);
    color: var(--blanco);

    & .content-footer{
        padding: 0px 20px;

        & .footer-top{
            width: 100%;

            & .footer-icon{
                width: 100%;
                height: 200px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                & .logo-footer{
                    & img{
                        width: 150px;
                    }
                }

                & .icon-redes{
                    & a{

                        margin-left: 10px;
                        & img{
                            width: 30px;
                        }
                    }
                }
            }

            & .footer-p{
                max-width: 500px;
                font-size: 20px;
                line-height: 40px;
            }
        }

        & .footer-bottom{
            margin-top: 20px;
            width: 100%;
            height: 70px;
            display: flex;
            justify-content: end;
            align-items: center;
            border-top: var(--blanco) solid 1px;
        }
    }
}



/*-----------responsive-------*/

@media (min-width: 769px) and (max-width: 1100px){

    .destacado{
        
    }
    .nosotros{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        padding: 0 20px;

        & .nostros-content-titulo{
            width: 100%;
            grid-column: 1/2;
            grid-row: 1/2;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 50px;
    
            & h2{
                margin-right: 0px;
                font-size: 30px;
                text-align: center;
            }
            & img{
                width: 70vw;
                height: 70vw;
                border-radius: 50%;
                object-fit: cover;
                margin-left: 0px;
            }
            
        }
        
        & .nosotros-content-info{
            grid-column: 1/2;
            grid-row: 2/3;
            display: flex;
            align-items: end;
            justify-content: center;
    
            & p{
                width: 100%;
                font-size: 16px;
                margin-top: 50px;
                text-align: center;
                line-height: 35px;
            }
            
        }
        
        
        & .nosotros-content-img{
            grid-column: 1/2;
            grid-row: 3/4;
            display: flex;
            justify-content: center;
            gap: 30px;
            margin-top: 50px;
    
            & img{
                width: 38vw;
                height: 38vw;
                object-fit: cover;
            }
            & .primera-img{
                margin-left: 0px;
            }
            & .segunda-img{
                margin-top: 0px;
            }
        
        }
    }
    .postres{
        padding: 80px 20px;
    }
    .instagram{
        padding: 0px 20px;
    }

}



@media only screen and (max-width: 768px) {

    .banner-navidad{
        background: url(../img/fondos/sec5_bg.jpg);
        width: 100%;
        padding: 0px 20px;
        padding-bottom: 20px;
        margin-bottom: 100px;
    }
    .destacado{

        & .galletas-fondo{
            width: 70%;
            height: 110%;
        }
        
        & .galletas-main{
            padding: 0 20px;
            padding-top: 50px;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto;
            gap: 50px;

            & .galleta-content-img{
                grid-column: 1/2;
                grid-row: 2/3;

                & .galleta-img{
                    width: 100%;
                    display: flex;
                    justify-content: center;

                    & .galleta-img-principal{
                        width: 90%;
                        height: auto;
                        object-fit: cover;
                        margin-left: 0;
                    }

                    & .galleta-btn{
                        bottom: -50PX;
                        right: -10PX;
                        width: 35vw;
                        height: 35vw;

                        & a{
                            position: absolute;
                            z-index: 8;
                            max-width: 95%;
                            & P{
                                font-size: 10px;
                                text-align: center;
                            }
                        }
                        & img{
                            position: absolute;
                            width: 25vw;
                            margin-top: 100px;
                        }
                    }
                    
                }
            }
            
            & .galleta-content-titulo{
                grid-column: 1/2;
                grid-row: 1/2;
                display: flex;
                align-items: center;
                justify-content: center;

                & h2{
                    font-size: 6.6vw;
                }
            }
            
            & .galleta-content-info{
                position: relative;
                grid-column: 1/2;
                grid-row: 3/4;
                display: flex;
                justify-content: center;
                margin-top: 50px;

                & p{
                    width: 90%;
                    font-size: 3.7vw;
                    line-height: 1.8;
                }
            }
        }

        
    }
    .elegirnos{
        & .elegirnos-content{
            margin: 0 auto;
            margin-top: 100px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 80px;

            .opcion-elegir{
                width: 80%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;

                & p{
                    font-size: 12px;
                    text-align: center;
                    line-height: 1.8;
                }
            }
        }
    }
    .hero{
        display: flex;
        justify-content: center;
        align-items: center;
    
        & .content-hero{
            margin-top: 300px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding-left: 20px;
    
            & h1{
                max-width: 90%;
            }
            & img{
                height: 20px;
                width: auto;
            }
            & a{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 200px;
                color: var(--blanco);
                border: 1px solid var(--blanco);
                padding: 20px 40px;
            }
        }
    }
    .instagram{
        & .insta-content{
            max-width: 1000px;
            width: 100%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 200px 200px 200px 200px;
            padding: 0 20px;
            padding-top: 50px;

            & img{
                width: 30vw;
                height: 150px;
                object-fit: cover;
            }

            & .content-insta-info{
                grid-column: 1/2;
                grid-row: 1/2;
                padding-top: 50px;
                position: relative;
                z-index: 2;

                & h2{
                    font-size: 6.6vw;
                    text-align: center;

                    & p{
                        margin-top: 5px;
                        font-size: 12px;
                    }
                }
                & p{
                    font-size: 14px;
                    text-align: center;
                    padding: 0 20px;
                }
                
            }
            & .sec1-insta{
                margin-top: 20px;
                position: relative;
                grid-column: 1/2;
                grid-row: 2/3;
                padding-top: 80px;

                & .in{
                    position: absolute;
                    bottom: 0;
                    left: 15%;
                    transform: rotate(10deg);
                    z-index: 3;
                }
            }
            & .sec2-insta{
                position: relative;
                grid-column: 1/2;
                grid-row: 4/5;
                display: flex;

                & .in1{
                    position: absolute;
                    bottom: 0px;
                    left: 15%;
                    transform: rotate(-15deg);
                    z-index: 3;
                }
                & .in2{
                    position: absolute;
                    bottom: 0px;
                    right: 15%;
                    transform: rotate(15deg);
                    z-index: 3;
                }
            }
            & .sec3-insta{
                position: relative;
                grid-column: 1/2;
                grid-row: 3/4;
                display: flex;

                & .in3{
                    position: absolute;
                    bottom: 0px;
                    left: 20%;
                    transform: rotate(-15deg);
                    z-index: 3;
                }
                & .in4{
                    position: absolute;
                    bottom: 0px;
                    right:15%;
                    transform: rotate(0deg);
                    z-index: 2;
                }
            }
        }
        & .fondo-insta{
            width: 100%;
            height: 55%;
        }
        &.btn-insta{
            margin-top: 40px;

            & a{
                width: 250px;

                & img{
                    width: 30px;
                }
            }

        }  
    }
    .nav {
        padding: 5px 20px;
        flex-wrap: wrap;
        position: fixed;
        width: 100%;
        top: 0;

        background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) , url(../img/fondos/bgnav.webp) no-repeat center;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        background-size: cover;
        object-fit: cover;


        & .hamburger{
            display: block;
            padding-top: 20px;
        }
        .none{
            display: none;

        }

        & ul{
            flex-direction: column;
            gap: 50px;
            width: 100%;
            padding: 50px 0;

            & li{
                font-size: 20px;
            }

            & .m-b{
                margin-bottom: 150px;
            }


        }
    }
    .navidad{

        & .content-navidad{

            & p{
                font-size: 14px;
                margin-bottom: 20px;
            }
        }
    }
    .nosotros{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        padding: 0 20px;

        & .nostros-content-titulo{
            width: 100%;
            grid-column: 1/2;
            grid-row: 1/2;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 50px;
    
            & h2{
                margin-right: 0px;
                font-size: 30px;
                text-align: center;
            }
            & img{
                width: 70vw;
                height: 70vw;
                border-radius: 50%;
                object-fit: cover;
                margin-left: 0px;
            }
            
        }
        
        & .nosotros-content-info{
            grid-column: 1/2;
            grid-row: 2/3;
            display: flex;
            align-items: end;
            justify-content: center;
    
            & p{
                width: 100%;
                font-size: 16px;
                margin-top: 50px;
                text-align: center;
                line-height: 35px;
            }
            
        }
        
        
        & .nosotros-content-img{
            grid-column: 1/2;
            grid-row: 3/4;
            display: flex;
            justify-content: center;
            gap: 30px;
            margin-top: 50px;
    
            & img{
                width: 38vw;
                height: 38vw;
                object-fit: cover;
            }
            & .primera-img{
                margin-left: 0px;
            }
            & .segunda-img{
                margin-top: 0px;
            }
        
        }
    }
    .postres{
        padding: 80px 0;
        gap: 50px;

        & h2{
            font-size: 6.6vw;
            text-align: center;
        }

        & .producto-content{
            margin: 0 auto;
            width: 100%;
            padding: 0 20px;

            & .producto-content-lista{
                width: 100%;
                display: grid;
                grid-template-columns: 50% 50%;
                grid-template-rows: auto 140px auto;
                margin-bottom: 50px;

                & .producto-principal{
                    grid-column: 1/3;
                    grid-row: 1/2;
                    width: 100%;
                    height: 100%;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    & img{
                        width: 90vw;
                    
                    }
                    & .producto-principal-info{
                        bottom: -30px;
                        left: 5%;
                        width: 90%;
                        height: 100px;

                        & p{
                            width: 90%;
                            font-size: 12px;
                            line-height: 1.8;
                        }
                    }
                }
                & .linea-divisor{
                    grid-column: 1/3;
                    grid-row: 2/3;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    & .divisor{
                        width: 100%;
                        height: 1px;
                        background-color: #E6E3DC;
                    }
                }

                & .producto-segundo{
                    grid-column: 1/2;
                    grid-row: 3/4;
                    width: 100%;
                    height: 100%;
                }
                & .producto-tercero{
                    grid-column: 2/3;
                    grid-row: 3/4;
                    width: 100%;
                    height: 100%;

                    & img{
                        margin-top: 0px;
                    }
                    
                }

                & .productos-sec{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 15px;

                    & img{
                        width: 38vw;
                        height: 38vw;
                        object-fit: cover;
                    }
                    & p{
                        font-size: 12px;
                    }
                }
                
            }

            & .btn-producto{
                width: 100%;
                display: flex;
                justify-content: center;

                & a{
                    width: 300px;
                    height: 70px;
                    border: 1px solid #E6E3DC;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                    
            }
              
        }
    }


    .footer{
    
        & .content-footer{
            & .footer-top{
                & .footer-icon{   
                    & .icon-redes{
                        & a{
    
                            margin-left: 0px;
                            margin-right: 20px;
                        }
                    }
                }  
                & .footer-p{
                    max-width: 250px;
                    font-size: 16px;
                    line-height: 40px;
                }
            }
        }
    }
    
}